.header_container {
  display: flex;
  background-color: rgba(239, 198, 115, 0.793);
  justify-content: space-between;
}
.header_container img{
  width: 70px;
  height: 70px;
}

.link, link:hover, link:active {
  text-decoration: none;
  color: white;
}
.list{
  display: flex;
  gap: 50px;
  font-size: 30px;
  padding-right: 100px;
  padding-top: 18px;
}