.container {
  font-size: 20px;
  margin-left: 15px;
  
}

.ul_result {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
}

.container ul li {
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  width: 650px;
  list-style: none;
  margin-bottom: 10px;
  /* text-align: center; */
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black ; */
}

.container ul li:hover{
  background-color: rgb(156, 181, 204);
}
.story {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 100px; */
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}



.container button {
  margin: 10px;
  background-color: rgb(255, 170, 0);
  padding: 15px;
  border-radius: 5%;
  border: none;
  box-shadow: 1px 1px 2px rgba(14, 14, 14, 0.5);
}
.btn_clear {
  justify-content: end;
}

.container button:hover {
  margin: 10px;
  background-color: rgb(94, 175, 81);
  padding: 15px;
  border-radius: 5%;
  box-shadow: 1px 1px 3px rgba(14, 14, 14, 0.7);
}

.inp{
  width: 200px;
  margin: 10px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  outline: none;
  border-color: black;
  color: chocolate;
}