.container {
  display: flex;
  gap: 50px;
}


.main {
  /* background-color: rgb(188, 212, 192); */
  background-color: #fff;
  /* background: linear-gradient(rgb(255, 136, 0), rgb(255, 241, 192)); */
  margin: auto;
}

.box{
  display: flex;
  gap: 150px;
  
}